{% extends 'base.html' %}

{% load static %}

{% block content %}

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Mağaza</h4>
                        <div class="breadcrumb__links">
                            <a href="{% url 'anasayfa' %}">Anasayfa</a>
                            <span>Mağaza</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Shop Section Begin -->
    <section class="shop spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="shop__sidebar">
                        <div class="shop__sidebar__search">
                            <form action="" method="get">
                                <input name="sirala" type="hidden" value="{{ siralama }}">
                                <input name="arama" type="text" placeholder="Arama...">
                                <button type="submit"><span class="icon_search"></span></button>
                            </form>
                        </div>
                        <div class="shop__sidebar__accordion">
                            <div class="accordion" id="accordionExample">
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseOne">Kategoriler</a>
                                    </div>
                                    <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__categories">
                                                <ul class="nice-scroll">
                                                    {% for kategori in kategori_linkleri %}
                                                        <li><a href="{{ kategori.link_getir }}">{{ kategori.kategori_adi }}</a>
                                                            {% for alt_kategori in alt_kategori_linkleri %}
                                                                {% if alt_kategori.ust_kategori.kategori_adi == kategori.kategori_adi  %}
                                                                    <br>&emsp;<a href="{{ alt_kategori.link_getir }}">{{ alt_kategori.alt_kategori_adi }}</a>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseTwo">Branding</a>
                                    </div>
                                    <div id="collapseTwo" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__brand">
                                                <ul>
                                                    <li><a href="#">Louis Vuitton</a></li>
                                                    <li><a href="#">Chanel</a></li>
                                                    <li><a href="#">Hermes</a></li>
                                                    <li><a href="#">Gucci</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseThree">Filter Price</a>
                                    </div>
                                    <div id="collapseThree" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__price">
                                                <ul>
                                                    <li><a href="#">$0.00 - $50.00</a></li>
                                                    <li><a href="#">$50.00 - $100.00</a></li>
                                                    <li><a href="#">$100.00 - $150.00</a></li>
                                                    <li><a href="#">$150.00 - $200.00</a></li>
                                                    <li><a href="#">$200.00 - $250.00</a></li>
                                                    <li><a href="#">250.00+</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseFour">Size</a>
                                    </div>
                                    <div id="collapseFour" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__size">
                                                <label for="xs">xs
                                                    <input type="radio" id="xs">
                                                </label>
                                                <label for="sm">s
                                                    <input type="radio" id="sm">
                                                </label>
                                                <label for="md">m
                                                    <input type="radio" id="md">
                                                </label>
                                                <label for="xl">xl
                                                    <input type="radio" id="xl">
                                                </label>
                                                <label for="2xl">2xl
                                                    <input type="radio" id="2xl">
                                                </label>
                                                <label for="xxl">xxl
                                                    <input type="radio" id="xxl">
                                                </label>
                                                <label for="3xl">3xl
                                                    <input type="radio" id="3xl">
                                                </label>
                                                <label for="4xl">4xl
                                                    <input type="radio" id="4xl">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseFive">Colors</a>
                                    </div>
                                    <div id="collapseFive" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__color">
                                                <label class="c-1" for="sp-1">
                                                    <input type="radio" id="sp-1">
                                                </label>
                                                <label class="c-2" for="sp-2">
                                                    <input type="radio" id="sp-2">
                                                </label>
                                                <label class="c-3" for="sp-3">
                                                    <input type="radio" id="sp-3">
                                                </label>
                                                <label class="c-4" for="sp-4">
                                                    <input type="radio" id="sp-4">
                                                </label>
                                                <label class="c-5" for="sp-5">
                                                    <input type="radio" id="sp-5">
                                                </label>
                                                <label class="c-6" for="sp-6">
                                                    <input type="radio" id="sp-6">
                                                </label>
                                                <label class="c-7" for="sp-7">
                                                    <input type="radio" id="sp-7">
                                                </label>
                                                <label class="c-8" for="sp-8">
                                                    <input type="radio" id="sp-8">
                                                </label>
                                                <label class="c-9" for="sp-9">
                                                    <input type="radio" id="sp-9">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseSix">Tags</a>
                                    </div>
                                    <div id="collapseSix" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__tags">
                                                <a href="#">Product</a>
                                                <a href="#">Bags</a>
                                                <a href="#">Shoes</a>
                                                <a href="#">Fashion</a>
                                                <a href="#">Clothing</a>
                                                <a href="#">Hats</a>
                                                <a href="#">Accessories</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="shop__product__option">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="shop__product__option__left">
                                    <p>Toplam <b>{{ urun_sayisi }}</b> ürün bulundu</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="shop__product__option__right">
                                    <form action="" method="get">
                                        <p>Sırala:</p>
                                        {% if arama %}
                                            <input name="arama" type="hidden" value="{{ arama }}">
                                        {% endif %}
                                        <select name="sirala" onChange="this.form.submit()">
                                            <option value="maxtarih" {% if siralama == 'maxtarih' %}selected{% endif %}>Tarih: Yeniden Eskiye</option>
                                            <option value="mintarih" {% if siralama == 'mintarih' %}selected{% endif %}>Tarih: Eskiden Yeniye</option>
                                            <option value="maxfiyat" {% if siralama == 'maxfiyat' %}selected{% endif %}>Fiyat: Yüksekten Düşüğe</option>
                                            <option value="minfiyat" {% if siralama == 'minfiyat' %}selected{% endif %}>Fiyat: Düşükten Yükseğe</option>
                                        </select>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="shop__product__option">
                            {% if kategori_adi is not None %}
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="shop__product__option__left">
                                            <p><b>Kategori: {{ kategori_adi }}</b></p>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            {% if arama is not None %}
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="shop__product__option__left">
                                            <p><b>Arama: {{ arama }}</b></p>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                    </div>
                    <div class="row">
                        {% for urun in urunler %}
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item {% if urun.indirimli_fiyat is not None and urun.fiyat > urun.indirimli_fiyat or urun.stok <= 0 %}sale{% endif %}">
                                    <div class="product__item__pic set-bg" data-setbg="{{ urun.urun_resmi.url }}"
                                         {% if urun.alt_kategori is None %}
                                            onclick="location.href='{{ site_url }}magaza/{{ urun.kategori.takma_kategori_adi }}/urun/{{ urun.takma_urun_adi }}';"
                                         {% else %}
                                            onclick="location.href='{{ site_url }}magaza/{{ urun.kategori.takma_kategori_adi }}/{{ urun.alt_kategori.takma_alt_kategori_adi }}/urun/{{ urun.takma_urun_adi }}';"
                                         {% endif %}
                                    >
                                        {% if urun.stok <= 0 %}
                                            <span class="label">Stokta Yok</span>
                                        {% else %}
                                            {% if urun.indirimli_fiyat is not None and urun.fiyat > urun.indirimli_fiyat %}
                                                <span class="label">İndirimli</span>
                                            {% endif %}
                                        {% endif %}

                                        <ul class="product__hover">
                                            <li><a href="#"><img src="{% static 'img/icon/heart.png' %}" alt=""></a></li>
                                            <li><a href="#"><img src="{% static 'img/icon/compare.png' %}" alt=""> <span>Karşılaştır</span></a>
                                            </li>
                                            <li><a href="#"><img src="{% static 'img/icon/search.png' %}" alt=""></a></li>
                                        </ul>
                                    </div>
                                    {% if urun.alt_kategori is None %}
                                        <b><a href="{{ site_url }}magaza/{{ urun.kategori.takma_kategori_adi }}/urun/{{ urun.takma_urun_adi }}" class="text-dark">{{ urun.urun_adi }}</a></b>
                                    {% else %}
                                        <b><a href="{{ site_url }}magaza/{{ urun.kategori.takma_kategori_adi }}/{{ urun.alt_kategori.takma_alt_kategori_adi }}/urun/{{ urun.takma_urun_adi }}" class="text-dark">{{ urun.urun_adi }}</a></b>
                                    {% endif %}
                                    <div class="product__item__text">
                                        <h6>{{ urun.marka.marka_adi }}</h6>
                                        {% if urun.stok > 0 %}
                                            <a href="{% url 'sepete_ekle' urun.id %}" class="add-cart">+ Sepete Ekle</a>
                                        {% endif %}
                                        <div class="rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-o"></i>
                                        </div>
                                        {% if urun.indirimli_fiyat is not None and urun.fiyat > urun.indirimli_fiyat %}
                                            <h5><del>{{ urun.fiyat }} TL</del> {{ urun.indirimli_fiyat }} TL</h5>
                                        {% else %}
                                            <h5>{{ urun.fiyat }} TL</h5>
                                        {% endif %}
                                        <div class="product__color__select">
                                            <label for="pc-7">
                                                <input type="radio" id="pc-7">
                                            </label>
                                            <label class="active black" for="pc-8">
                                                <input type="radio" id="pc-8">
                                            </label>
                                            <label class="grey" for="pc-9">
                                                <input type="radio" id="pc-9">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    {% if urunler.has_other_pages %}
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="product__pagination">
                                    {% if urunler.has_previous %}
                                        <a href="?sayfa={{ urunler.previous_page_number }}">&lt;</a>
                                    {% endif %}
                                    {% for i in urunler.paginator.page_range %}
                                        {% if urunler.number == i %}
                                            <a class="active" href="#">{{ i }}</a>
                                        {% else %}
                                            <a href="?sayfa={{ i }}">{{ i }}</a>
                                        {% endif %}
                                    {% endfor %}
                                    {% if urunler.has_next %}
                                        <a href="?sayfa={{ urunler.next_page_number }}">&gt;</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <!-- Shop Section End -->
{% endblock %}