{% extends 'base.html' %}

{% load static %}

{% block content %}
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Hata</h4>
                        <div class="breadcrumb__links">
                            <a href="{% url 'anasayfa' %}">Anasayfa</a>
                            <span>Hata</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->
    <div class="text-center">
        <br>
        <h3 class="text-danger">{{ hata }}</h3>
        <br>
        <input class="btn-warning" type="button" value="Geri Dön" onclick="history.back(-1)" />
        <br><br>
    </div>
{% endblock %}